.headerComponent {
  width: 100%;
  height: var(--HeaderHeight);
  background-color: var(--DarkCyan);
  background-image: url('../img/bg-header-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 376px) {
  .headerComponent {
    background-image: url('../img/bg-header-desktop.svg');
  }
}