.headerComponent {
  width: 100%;
  height: var(--HeaderHeight);
  background-color: var(--DarkCyan);
  background-image: url('../images/bg-header-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .headerComponent {
    background-image: url('../images/bg-header-desktop.svg');
  }
}