.listingComponent {
  background-color: #fff;
  padding: 24px;
  margin-bottom:  40px;
  position: relative;
  border-radius: 6px;
  list-style: none;
  box-shadow: var(--BoxShadow);
  top: 0;
}

.listComponentTag {
  transform: translateY(-42px);
}

.listComponentNoTag {
  transform: translateY(0);
}

.logoContainer {
  width: 48px;
  height: 48px;
  position: absolute;
  top: -24px;
  left: 24px;
}

.logoImg {
  width: 100%;
}

.topLineContainer {
  display: flex;
  align-items: center;
  padding: 8px 0 13px;
}

.companyName {
  color: var(--DarkCyan);
  font-size: .85em;
  margin-right: 16px;
}

.specialListing  {
  color: #fff;
  padding: 6px 10px 4px;
  border-radius: 20px;
  font-size: .7em;
  font-weight: 600;
  display: none;
}

.newListing {
  background-color: var(--DarkCyan);
  margin-right: 8px;
}

.featuredListing {
  background-color: var(--VeryDarkGray);
}
 
.jobTitle {
  font-size: .95em;
  font-weight: 600;
  padding-bottom: 16px;
}

.jobTitle:hover {
  color: var(--DarkCyan);
  cursor: pointer;
}

.jobListingInfo {
  color: var(--DarkGray);
  font-size: .8em;
  padding-bottom: 20px;
}

.listingDivider {
  color: var(--DarkGray);
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  flex-direction: row;
  padding-top: 16px;
  width: 100%;
  list-style: none;
}

.tag {
  color: var(--DarkCyan);
  background-color: var(--LightCyanTab);
  padding: 8px;
  border-radius: 4px;
  font-size: .85em;
  font-weight: 600;
}

.tag:hover {
  background-color: var(--DarkCyan);
  color: #fff;
  cursor: pointer;
}