.listingComponent {
  background-color: #fff;
  padding: 24px;
  margin-bottom:  40px;
  position: relative;
  border-radius: 6px;
  list-style: none;
  box-shadow: var(--BoxShadow); 
}

.listingOn {
  display: block;
}

.listingOff {
  display: none;
}

.logoContainer {
  width: 48px;
  height: 48px;
  position: absolute;
  top: -24px;
  left: 24px;
}

.logoImg {
  width: 100%;
}

.topLineContainer {
  display: flex;
  align-items: center;
  padding: 8px 0 13px;
}

.companyName {
  color: var(--DarkCyan);
  font-size: .85em;
  margin-right: 16px;
}

.specialListing  {
  color: #fff;
  padding: 6px 10px 4px;
  border-radius: 20px;
  font-size: .7em;
  font-weight: 600;
  display: none;
}

.newListing {
  background-color: var(--DarkCyan);
  margin-right: 8px;
}

.featuredListing {
  background-color: var(--VeryDarkGray);
}
 
.jobTitle {
  font-size: .95em;
  font-weight: 600;
  padding-bottom: 16px;
}

.jobTitle:hover {
  color: var(--DarkCyan);
  cursor: pointer;
}

.jobListingInfo {
  color: var(--DarkGray);
  font-size: .8em;
  padding-bottom: 20px;
}

.listingDivider {
  color: var(--DarkGray);
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  flex-direction: row;
  padding-top: 16px;
  width: 100%;
  list-style: none;
}

.tag {
  color: var(--DarkCyan);
  background-color: var(--LightCyanTab);
  padding: 8px;
  border-radius: 4px;
  font-size: .85em;
  font-weight: 600;
}

.tag:hover {
  background-color: var(--DarkCyan);
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 1270px) {
  .listingComponent {
    display: flex;
    padding: 36px;
    margin: 0 auto 24px;
    align-items: center;
    max-width: 1096px;
  }

  .logoContainer {
    width: 98px;
    height: 98px;
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    margin-right: 24px;
    align-items: center;
  }

  .logoImg {
    width: 100%;
  }

  .desktopContainer {
    width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desktopLeft {
    width: 265px;
  }

  .topLineContainer {
    padding: 0 0 13px;
  }
  
  .specialListing  {
    padding: 8px 10px 6px;
  }
  
  .jobTitle {
    font-size: 1.1em;
  }
  
  .jobListingInfo {
    font-size: .85em;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .tagsContainer {
    padding-top: 0;
  }

  .listingDivider {
    display: none;
  }
}