.mainComponent {
  width: 100%;
  min-height: calc( 100vh - var(--HeaderHeight) );
  position: relative;
  background-color: var(--LightCyanBg);
}

.mainList {
  width: 100%;
  padding: 56px 24px 1px;
  position: relative;
  top: 0;
}

.mainListFilterOn {
  transform: translateY(-42px);
}

.mainListFilterOff {
  transform: translateY(0);
}

@media screen and (min-width: 376px) {
  .mainComponent {
    height: 100%;
    min-height: calc( 100vh - var(--HeaderHeight) );
  }

  .mainList {
    width: 100%;
    padding: 75px 165px 120px;
  }
}